  <%= render "shared/header" %>
  <div class="portfolio-main">
    <div class="portfolio-insert">
      <%= form_with model: @portfolio ,class:"portfolio-form",local: true do |f| %>
        <p class="personal"><ins>ポートフォリオ</ins></p>
        <div id="portfolio-preview">
          <%# <div class="image-box"> 
            <img class="image-file" src="https://static-cse.canva.com/blob/247588/free-photo-material-00.jpg">
            <div class="edit-btn">編集</div>
          </div> %>

          <div class="mb-3 image-upload", id="image-upload">
            <div class="image-field-center">
              <i class="fas fa-camera" id="icon"></i>
              <label for="formFile" class="form-label">写真</label>
            </div>
            <%= f.file_field :images, name:"portfolio[images][]", id:"formFile", class:"form-control portfolio-images",data: {index: 0},multiple:"multiple"%>
          </div>
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">URL</label>
          <%= f.text_field :portfolio_url, autofocus: true,placeholder:"ポートフォリオURLを入力してください" ,class:"form-control" ,id:"formGroupExampleInput"%>
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">サイト名</label>
          <%= f.text_field :name, autofocus: true,placeholder:"サイト名を入力してください" ,class:"form-control" ,id:"formGroupExampleInput"%>
        </div>

        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">ポートフォリオの説明</label>
          <%= f.text_area :description, autofocus: true,placeholder:"ポートフォリオに関する説明を入力してください" ,class:"form-control" ,id:"formGroupExampleInput",rows:"7"%>
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">プログラミング言語</label>
          <%= f.text_field :language, autofocus: true,placeholder:"プログラミング言語を入力してください" ,class:"form-control" ,id:"formGroupExampleInput"%>
        </div>

        <div class='register-btn'>
          <div class="btn btn-primary" >
            <%= f.submit "投稿する",class: "sign-btn" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
