
<%= render "shared/header" %>
<div class="session-main">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<p class="account"><ins>ログイン情報</ins></p>
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">メールアドレス</label>
      <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"登録済みのメールアドレスを入力してください" ,class:"form-control" ,id:"formGroupExampleInput"%>
    </div>


    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">パスワード</label>
      <%= f.password_field :password, autocomplete: "new-password",placeholder:"登録済みのパスワードを入力してください" ,class:"form-control" ,id:"formGroupExampleInput" %>
    </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

    <div class='register-btn'>
      <div class="btn btn-primary" >
        <%= f.submit "Log in",class: "sign-btn" %>
      </div>
    </div>
<% end %>
</div>


